{% set title = 'Settings' %}
{% set fullPageForm = true %}

{% extends "_layouts/cp.twig" %}
{% import "_includes/forms.twig" as forms %}

{% set tabs = {
    "sitemap": { label: "Sitemap"|t('_recranet-booking'), url: "#sitemap" },
} %}

{% block content %}
    <input type="hidden" name="action" value="_recranet-booking/settings/save-settings">

    {% set recranetBookingPlugin = craft.app.plugins.getPlugin('_recranet-booking') %}
    {% set settings = recranetBookingPlugin.getSettings() %}
    {% set organizationService = recranetBookingPlugin.getOrganizationService %}

    <div id="sitemap">
        {% namespace 'sitemap' %}
            {{ forms.lightswitchField({
                label: "Generate accommodations sitemap"|t("_recruitee"),
                id: "sitemapEnabled",
                name: "sitemapEnabled",
                tip: "If enabled, a sitemap will be generated for accommodations. <a class='go' href='/sitemap-accommodations.xml' rel='noopener' target='_blank'>Learn more</a>",
                on: settings.sitemapEnabled,
            }) }}
        {% endnamespace %}
    </div>
{% endblock %}
