{% set title = 'Settings' %}
{% set fullPageForm = true %}

{% extends "_layouts/cp.twig" %}
{% import "_includes/forms.twig" as forms %}

{% set tabs = {
    "general": { label: "General"|t('_recranet-booking'), url: "#general" },
    "sitemap": { label: "Sitemap"|t('_recranet-booking'), url: "#sitemap" },
} %}

{% block content %}
    <input type="hidden" name="action" value="_recranet-booking/settings/save-settings">

    {% set recranetBookingPlugin = craft.app.plugins.getPlugin('_recranet-booking') %}
    {% set settings = recranetBookingPlugin.getSettings() %}

    <div id="general">
        {% namespace 'general' %}
            {{ forms.autosuggestField({
                label: "Organization ID"|t("_recranet-booking"),
                id: "organizationId",
                required: true,
                name: "organizationId",
                value: settings.organizationId ?? '',
                suggestEnvVars: true,
                errors: settings.getErrors('organizationId'),
            }) }}

            {{ forms.elementSelectField({
                label: "Book page"|t("_recranet-booking"),
                id: "bookPageEntry",
                name: "bookPageEntry",
                elementType: 'craft\\elements\\Entry',
                selectionLabel: "Choose an entry"|t("_recranet-booking"),
                required: true,
                limit: 1,
                elements: settings.getBookPageEntry() ? [settings.getBookPageEntry()] : [],
                errors: settings.getErrors('bookPageEntry'),
            }) }}

            {{ forms.autosuggestField({
                label: "Book page template path"|t("_recranet-booking"),
                id: "bookPageEntryTemplate",
                required: true,
                name: "bookPageEntryTemplate",
                value: settings.bookPageEntryTemplate ?? '',
                errors: settings.getErrors('bookPageEntryTemplate'),
            }) }}
        {% endnamespace %}
    </div>
    <div id="sitemap" class="hidden">
        {% namespace 'sitemap' %}
            {{ forms.lightswitchField({
                label: "Generate accommodations sitemap"|t("_recruitee"),
                id: "sitemapEnabled",
                name: "sitemapEnabled",
                tip: "If enabled, a sitemap will be generated for accommodations. <a class='go' href='/sitemap-accommodations.xml' rel='noopener' target='_blank'>Learn more</a>",
                on: settings.sitemapEnabled,
            }) }}
        {% endnamespace %}
    </div>
{% endblock %}
